openai
sentence-transformers
numpy
mlflow
python-dotenv
psycopg2-binary
pymupdf
einops
torch
umap-learn
ragas
datasets
langchain
langchain-groq
langchain-huggingface
transformers
pydantic_settings
openpyxl